# Load parent environment
source_up

# Activate Airflow environment
if poetry env list | grep -q airflow; then
    export VIRTUAL_ENV=$(poetry env info --path --directory .. | grep airflow)
    export PATH="$VIRTUAL_ENV/bin:$PATH"
fi

# Airflow specific environment variables
export AIRFLOW_HOME=$PWD/../airflow
export AIRFLOW__CORE__DAGS_FOLDER=$PWD
export AIRFLOW__CORE__LOAD_EXAMPLES=false
export AIRFLOW__WEBSERVER__EXPOSE_CONFIG=true
